  <section id="footer">
    <footer class="footer footer-dark"  style="background-image: url(./images/bg/pattern-1.png); background-repeat: no-repeat; background-size: cover; background-position: left;">
        <div class="min-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <h5>Contact Information</h5>
                <div class="footer-contact-info">
                  <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-fw fa-map-marker-alt text-primary"></i><span>6000 Stevenson Ave Suite 204, VA 22304</span></li>
                    <li><i class="fas fa-fw fa-phone text-primary"></i><span>(571) 242-7167 </span></li>
                    
                  </ul>
                </div>
                <div class="social-icon mt-4">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 mt-4 mt-md-0 pl-lg-5">
                <div class="footer-link">
                  <h5>Navigation</h5>
                  <ul class="list-unstyled mb-0">
                    {% if '/biography/' in request.path %}
                    <li><a href="{% url 'index' %}#about">About us</a></li>
                    <li><a href="{% url 'index' %}#services">Service</a></li>
                    <li><a href="{% url 'index' %}#pricing">Service</a></li>
                    <li><a href="{% url 'index' %}#team">Team</a></li>
                    <li><a href="{% url 'index' %}#contact">Contact us</a></li>
                    {% else %}
                    <li><a href="#about">About us</a></li>
                    <li><a href="#services">Service</a></li>
                    <li><a href="#pricing">Service</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact us</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row align-items-center copyright">
              <div class="col-12 col-md-6 ">
                <p class="mb-0"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="{% url 'index' %}"> Demzesthetics </a> All Rights Reserved</p>
              </div>
              <div class="col-12 col-md-6 text-end">
                <p>Designed and Developed by <a href="#">Web Forge LLC</a></p>
              </div>
            </div>
          </div>
        </div>
    </footer>
  </section>