
    <footer class="footer footer-dark"  style="background-image: url(./images/bg/pattern-1.png); background-repeat: no-repeat; background-size: cover; background-position: left;">
      <div class="min-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <h5>Contact Information</h5>
              <div class="footer-contact-info">
                <ul class="list-unstyled mb-0">
                  <li><i class="fas fa-fw fa-map-marker-alt text-primary"></i><span>6580 Allison Turnpike Creminfort, AL 32808-4509</span></li>
                  <li><i class="fas fa-fw fa-phone text-primary"></i><span>(123) 345-6789</span></li>
                  <li><i class="far fa-fw fa-envelope text-primary"></i><span>support@luxuryspa.com</span></li>
                </ul>
              </div>
              <div class="social-icon mt-4">
                <ul>
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mt-4 mt-md-0 pl-lg-5">
              <div class="footer-link">
                <h5>Navigation</h5>
                <ul class="list-unstyled mb-0">
                  <li><a href="about-us.html">About us</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="contact-us.html">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="footer-link">
                <h5>Useful Links</h5>
                <ul class="list-unstyled mb-0">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Register</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <h5>Newsletter</h5>
              <div class="footer-subscribe">
                <p class="mb-3">Sign Up to our Newsletter to get the latest news and offers.</p>
                <form>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email">
                  </div>
                  <button type="submit" class="btn btn-primary btn-primary-white">Get Notified</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center copyright">
            <div class="col-12 col-md-6 ">
              <p class="mb-0"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="index.html"> LuxurySpa </a> All Rights Reserved</p>
            </div>
            <div class="col-12 col-md-6 text-end">
              <p>Develop and design by <a href="#">Potenza Global Solutions</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>