{% load static %}
{% load compress %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="LuxurySpa - Spa & Beauty HTML Template">
        <meta name="author" content="potenzaglobalsolutions.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>LuxurySpa - Spa & Beauty HTML Template</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
        <!-- CSS Global Compulsory (Do not remove)-->
        <link rel="stylesheet" href="{% static 'css/font-awesome/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}">
        <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
        <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/animate/animate.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css'%}">
        <!-- Template Style -->
        <link rel="stylesheet" href={% static "css/style.css"%}>
        <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css" />
      </head>
</head>
<body>
    {% include 'includes/navbar.html' %}
    
    {% block content %}
    <!--content-->
    {% endblock %}

    <!--footer-->
</body>
</html>