{% extends 'base.html'%}
{% load static %}

{% load compress %}
{% load sass_tags %}



{% block content %}


  <body>
  
    <section class="slider-01 banner-01">
      <div id="main-slider" class="swiper-container">
        <div class="swiper-wrapper">

          
          <div class="swiper-slide slide-1 align-items-center d-flex bg-holder" id="main-banner" data-jarallax='{"speed": 0.6}'>
            
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-12 col-sm-10">
                  <div class="slider-1">
                    <div class="animated" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">
                      <span class="animated text-primary sub-title-text  text-center" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Spa & Beauty Center</span>
                      <h1 class="animated text-white mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Get The Skin Of Your Dreams</h1>
                      <p class="animated details-text text-white display-9 mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Experience radiant skin with our expert care. Our personalized treatments and professional estheticians will help you achieve the healthy, glowing complexion you desire.</p>
                      <div class="mt-4 mt-xl-5">
                        <a href="https://demz-esthetics.square.site/s/appointments" target="_blank" class="btn btn-primary animated4 appointment " data-swiper-animation="fadeInUp" data-duration="3s" data-delay="0.25s">Make Appointment <i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-2 align-items-center d-flex" id="main-banner1" style="background-image: url(images/slider/home-01/02.jpg); background-size: cover;">
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-12 col-sm-10">
                  <div class="slider-2">                    
                    <div class="animated" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">
                      <span class="animated text-primary sub-title-text" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Spa & Beauty Center</span>
                      <h1 class="animated text-white mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Discover Your Natural Beauty</h1>
                      <p class="animated details-text text-white display-9 mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Embrace your natural beauty with our holistic skincare approach. From gentle treatments to luxurious rituals, our estheticians are here to enhance your skin's radiance and unveil your inner glow.</p>
                      <div class="mt-4 mt-xl-5">
                        <a href="https://demz-esthetics.square.site/s/appointments" class="animated4 btn btn-primary" target="_blank" data-swiper-animation="fadeInUp" data-duration="3s" data-delay="0.25s">Make Appointment <i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="swiper-button-prev pagination page-link" tabindex="0" role="button" aria-label="Previous slide"><i class="fas fa-chevron-left"></i></div>
      <div class="swiper-button-next pagination page-link" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-chevron-right"></i></div>
    </section>
    <!--=================================
    banner -->
    
    <section class="about space-pt" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <span class="sub-title">Why Chose Us</span>
              <h2 class="title">Who we are and what we do</h2>                
            </div>
            <div class="about-img pt-0 pt-lg-4">
              <img class="img-fluid" src="{% static 'images/about/mainabout.webp' %}" alt="mainabout">
            </div>
          </div>
          <div class="col-lg-6 position-relative">
            <div class="about-right mt-5 mt-lg-0">
              <div class="circle">
                <div class="logo">
                  10
                </div>
                <div class="text">
                  <p>
                    10 Years of Experiense in Spa -
                  </p>
                </div>
              </div>
              <div class="about-img text-end">
                <img class="img-fluid" src="{% static 'images/about/about2.webp' %}" alt="about1">
              </div>                
              <p class="mt-5">At Demzesthetics, we believe in the transformative power of self-care. Nestled in the heart of our community, our sanctuary offers a range of luxurious treatments designed to nourish your body, mind, and spirit. From soothing facials to invigorating massages, our experienced team is dedicated to curating an experience tailored to your unique needs. Step into our tranquil space and embark on a journey to rejuvenation and bliss.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--About us -->    
    <!--Category --> 
    <section class="category-section space-ptb position-relative px-md-5" id="services">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-4 pb-4 pb-xl-0 pe-0 pe-xl-5">
            <div class="section-title">
              <span class="sub-title">Services</span>
              <h2 class="title">Exclusive Aesthetic Treatments.</h2>
              <p class="section-description">Beauty starts here. Different services for any approach to your aesthetic.</p>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="false" data-items="4" data-lg-items="3" data-md-items="4" data-sm-items="2" data-xs-items="2" data-space="20" data-autoheight="true">
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static './images/category/bodywax.webp' %}" alt="body wax">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a href="service-detail.html">Body Wax</a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static 'images/category/hydrofacial.webp' %}" alt="hydrofacial">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a href="service-detail.html">Facial Care</a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static 'images/category/facewax.webp' %}" alt="face wax">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a href="service-detail.html">Facial Wax</a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static 'images/category/facialwand.webp' %}" alt="facial wand">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a href="service-detail.html">Tailored Facials</a></h4>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static './images/category/wax.webp' %}" alt="wax">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a href="service-detail.html">Specialized Wax</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Category -->
    <!--=================================
     Features -->
     
    <section class="bg-dark" id="features">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-12" id="featuresimg">
          </div>
          <div class="col-xl-6 col-lg-12 features-section">
            <div class="section-title">
              <span class="sub-title text-white">Aesthetic Enhancement</span>
              <h2 class="title text-white">Custom Aesthetic</h2>
              <p class="section-description text-white">Aesthetic enhancement involves personalized treatments aimed at refining and rejuvenating one's appearance, achieving a more youthful and radiant look through skincare and facial procedures.</p>
            </div>
            <div class="feature-box mb-4">
              <div class="feature-title-icon">
                <div class="feature-icon me-3">
                  <img class="img-fluid" src="{% static 'images/icon/hot-stones.png' %}" alt="hot-stones">
                </div>
                <h3 class="text-white">Custom Facials</h3>
              </div>
              <div class="feature-content text-white">
                <p>This is where tailored treatments meet your unique skincare needs. Enjoy personalized attention and rejuvenation for a radiant, glowing complexion.</p>
              </div>
            </div>
            <div class="feature-box mb-4">
              <div class="feature-title-icon">
                <div class="feature-icon me-3">
                  <img class="img-fluid" src="{% static 'images/icon/relaxation.png' %}" alt="relaxation">
                </div>
                <h3 class="text-white">Custom Wax</h3>
              </div>
              <div class="feature-content text-white">
                <p>Delicately tailored to your preferences, our waxing treatments ensure a silky, hair-free finish, leaving you feeling confident and refreshed.</p>
              </div>
              
             

              <div class="feature-box mb-4">
                <div class="feature-title-icon" id="features3box">
                  <div class="feature-icon me-3" >
                    <img class="img-fluid" src="{% static 'images/icon/thai.png' %}" alt="thai">
                  </div>
                  <h3 class="text-white">Body / Face Dermabrasion</h3>
                </div>
                <div class="feature-content text-white">
                  <p>Experience the rejuvenating power of our Face/Body Dermabrasion. Our gentle exfoliation reveals your natural radiance, leaving you with a smooth and glowing complexion.</p>
                </div>
              </div>

            
          </div>
          
        </div>
        
              
      </div>
      
    </section>
    <!--=================================
    Features -->
    <!--=================================
    Menu list -->
    <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <div class="section-title text-center">
              <span class="sub-title">Menu</span>
              <h2 class="title">Natural Beauty Spa Center</h2>
              <p class="section-description">I truly believe Augustine’s words are true and if you look at history you know it is true. There are many people in the world with amazing talents who realize.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6 mt-4">
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/body-massage.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Full body massage</a>
                  <p>Focus is having the unwavering</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$22.00</span>
                  <span>$16.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/face-masks.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Face masks</a>
                  <p>The best way is to develop</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$18.00</span>
                  <span>$14.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/nail-treatments.png'%}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Nail Treatments</a>
                  <p>I coach my clients to practice</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$50.00</span>
                  <span>$40.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/aroma-therapy.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Aroma therapy</a>
                  <p>We all carry a lot of baggage</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$65.00</span>
                  <span>$62.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 mt-5 mt-lg-4">
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/skincare.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Skincare Sunday</a>
                  <p>It is truly amazing</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$48.00</span>
                  <span>$42.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/relaxation.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Relaxation</a>
                  <p>Figure out what you want</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$35.00</span>
                  <span>$30.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/medical-treatments.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Medical Treatments</a>
                  <p>You will begin to realise</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$40.00</span>
                  <span>$35.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/face-treatments.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Face Treatments</a>
                  <p>The Truth About Success</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$59.00</span>
                  <span>$52.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Menu list -->
    <!--=================================
    Shop Banner -->
    <section class="space-ptb" id="special-section" style="background-image: url(images/bg/shop-banner.jpg); background-size: cover; background-repeat: no-repeat;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="shop-banner-title text-center">
              <h2 class="title mb-4 text-white">Specials and Events</h2>
              <p class="text-white">We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful folks as Michael Jordan and Bill Gates. We can look a bit further back in time to Albert Einstein or even further back to Abraham Lincoln.</p>
              <div class="mt-5">
                <a href="shop.html" class="btn btn-primary-white btn-primary">Shop Now<i class="fas fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Shop Banner -->
    <!--=================================
    Team -->
    <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="section-title text-center">
              <span class="sub-title">Team</span>
              <h2 class="title">Our Happy Team</h2>
              <p class="section-description">Meet our dedicated estheticians, committed to your satisfaction and well-being. With expertise and passion, they bring out your best glow, ensuring a positive experience at every visit.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" center col-md-6">
            <div class="team">
              <div class="team-img">
                <img class="img-fluid img-thumbnail smaller-image" id="headshot" src="{% static 'images/team/headshot.webp' %}" alt="headshot">
              </div>
              <div class="team-content" id="teamcontent">
                <p class="team-description">Founder</p>
                <h5 class="team-name"><a href="{% url 'team' %}">Demi Williams</a></h5>
              </div>
            </div>
          </div>
          <div class="center col-md-6">
            <div class="team">
              <div class="team-img">
                <img class="img-fluid img-thumbnail smaller-image" id="headshot1" src="{% static 'images/team/02.jpg' %}" alt="placeholder">
              </div>
              <div class="team-content" id="teamcontent1">
                <p class="team-description">CEO</p>
                <h5 class="team-name"><a href="team-single.html">Yaz</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Team -->
    <!--=================================
    Testimonial -->
    <section class="bg-primary" id="reviews">
      <div class="space-ptb" style="background-image: url(./images/testimonial/testimonial-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title text-center">
                <span class="sub-title text-white">What Other Say</span>
                <h2 class="title text-white">Our Customer Reviews</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="false" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1"  data-space="30" data-autoheight="true">
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content"><i>Introspection is the trick. Understand what you want, why you want it and what it will do for you. This is a critical factor, and as such, is probably the most difficult step.</i></div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Mellissa Doe</h6>
                        <span class="text-primary">Relax massage</span>
                      </div>
                      <div class="avatar">
                        <img class="img-fluid" src="{% static 'images/testimonial/01.jpg'%}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">So, there you have it; the six steps that will help you to the fabled land of achievement and success! You now have the opportunity to push ahead and reach your potential.</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Felica Queen</h6>
                        <span class="text-primary">Relax massage</span>
                      </div>
                      <div class="avatar">
                        <img class="img-fluid" src="{% static 'images/testimonial/02.jpg' %}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">What is the exact sequence of events that will take you to where you want to be? Have a think consciously of what you need to do. Every outcome begins with the first step</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Melanie Byrd</h6>
                        <span class="text-primary">Relax massage</span>
                      </div>
                      <div class="avatar">
                        <img class="img-fluid" src="{% static 'images/testimonial/04.jpg' %}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!----line break-->
     <!-- Testimonial -->
   <!-- line break-->
      
    <!-- Back To Top-->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    
    <!-- JS Global Compulsory (Do not remove)-->
  
    <script>
      
    </script>
    
  </body>
</html>


{% endblock %}
