{% extends 'base.html'%}
{% load static %}

{% load compress %}
{% load sass_tags %}



{% block content %}


  
  
    <section class="slider-01 banner-01">
      <div id="main-slider" class="swiper-container">
        <div class="swiper-wrapper">

          
          <div class="swiper-slide slide-1 align-items-center d-flex bg-holder " id="main-banner" data-jarallax='{"speed": 0.6}' alt="A woman getting a facial treatment at a spa.">
            
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-12 col-sm-10">
                  <div class="slider-1 mt-5 pt-5">
                    <div class="animated" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">
                      <span class="animated text-primary sub-title-text  text-center" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Spa & Beauty Center</span>
                      <h1 class="animated text-white mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Get The Radiant Skin Of Your Dreams</h1>
                      <p class="animated details-text text-white display-9 mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Experience radiant skin with our expert care. Our personalized treatments and professional estheticians will help you achieve the healthy, glowing complexion you desire.</p>
                      <div class="mt-4 mt-xl-5">
                        <a href="https://demz-esthetics.square.site/s/appointments" target="_blank" class="btn btn-primary animated4 appointment " data-swiper-animation="fadeInUp" data-duration="3s" data-delay="0.25s">Make Appointment <i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-2 align-items-center d-flex" id="main-banner1" alt="A woman getting a facial treatment with dermabrasion at a spa.">
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-12 col-sm-10">
                  <div class="slider-2 mt-5 pt-5">                    
                    <div class="animated" data-swiper-animation="fadeInUp" data-duration="1s" data-delay="0.25s">
                      <span class="animated text-primary sub-title-text" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Spa & Beauty Center</span>
                      <h1 class="animated text-white mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Discover Your Natural Beauty</h1>
                      <p class="animated details-text text-white display-9 mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.25s">Embrace your natural beauty with our holistic skincare approach. From gentle treatments to luxurious rituals, our estheticians are here to enhance your skin's radiance and unveil your inner glow.</p>
                      <div class="mt-4 mt-xl-5">
                        <a href="https://demz-esthetics.square.site/s/appointments" class="animated4 btn btn-primary" target="_blank" data-swiper-animation="fadeInUp" data-duration="3s" data-delay="0.25s">Make Appointment <i class="fas fa-arrow-right ms-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="swiper-button-prev pagination page-link" tabindex="0" role="button" aria-label="Previous slide"><i class="fas fa-chevron-left"></i></div>
      <div class="swiper-button-next pagination page-link" tabindex="0" role="button" aria-label="Next slide"><i class="fas fa-chevron-right"></i></div>
    </section>
    <!--=================================
    banner -->
    
    <section class="about space-pt" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <span class="sub-title">Why Chose Us</span>
              <h2 class="title">Who we are and what we do</h2>                
            </div>
            <div class="about-img pt-0 pt-lg-4">
              <img class="img-fluid" src="{% static 'images/about/mainabout.webp' %}" alt="A beautician in a mask performs a skincare treatment on a client in a salon.">
            </div>
          </div>
          <div class="col-lg-6 position-relative">
            <div class="about-right mt-5 mt-lg-0">
              <div class="circle">
                <div class="logo">
                  10
                </div>
                <div class="text">
                  <p>
                     10 Years of Experience in Beauty  -
                  </p>
                </div>
              </div>
              <div class="about-img text-end">
                <img class="img-fluid" src="{% static 'images/about/about2.webp' %}" alt="Aesthetician performing a skincare treatment using a machine on a client's skin.">
              </div>                
              <p class="mt-5" style="pointer-events: none; cursor: default;">At Demzesthetics, we believe in the transformative power of self-care. Nestled in the heart of our community, our sanctuary offers a range of luxurious treatments designed to nourish your body, mind, and spirit. From soothing facials to tailored waxes, our experienced team is dedicated to curating an experience tailored to your unique needs. Step into our tranquil space and embark on a journey to rejuvenation and bliss.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--About us -->    
    <!--Category --> 
    <section class="category-section space-ptb position-relative px-md-5" id="services">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-4 pb-4 pb-xl-0 pe-0 pe-xl-5">
            <div class="section-title">
              <span class="sub-title">Services</span>
              <h2 class="title">Exclusive Aesthetic Treatments.</h2>
              <p class="section-description">Beauty starts here. Different services for any approach to your aesthetic.</p>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="false" data-items="4" data-lg-items="3" data-md-items="4" data-sm-items="2" data-xs-items="2" data-space="20" data-autoheight="true">
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static './images/category/bodywax.webp' %}" alt="A person receiving a waxing treatment on their armpit from an Alexandrian esthetician wearing gloves.">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a style="pointer-events: none; cursor: default;">Body Wax</a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static 'images/category/hydrofacial.webp' %}" alt="A close-up of a Demzesthetics skincare treatment with a professional using a tool on a client's face.">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a style="pointer-events: none; cursor: default;" href="service-detail.html">Facial Care</a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static 'images/category/facewax.webp' %}" alt="Facial skincare treatment in progress with a pink mask being applied to a woman's cheek.">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a style="pointer-events: none; cursor: default;" href="service-detail.html">Facial Wax</a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static 'images/category/facialwand.webp' %}" alt="A person receiving a facial treatment using a specialized skincare device by Alexandrian based estheticians.">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a style="pointer-events: none; cursor: default;" href="service-detail.html">Tailored Facials</a></h4>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="category-box">
                  <div class="category-img">
                    <img class="img-fluid" src="{% static './images/category/wax.webp' %}" alt="A person wearing gloves holding a dollop of pink waxing substance on a spatula over an open hand.">
                  </div>
                  <div class="category-title text-center mt-4">
                    <h4><a style="pointer-events: none; cursor: default;" href="service-detail.html">Specialized Wax</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Category -->
    <!--=================================
     Features -->
     
    <section class="bg-dark" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-12" id="featuresimg" alt="A person receives a facial treatment with a brush from a professional wearing gloves.">
          </div>
          <div class="col-xl-6 col-lg-12 features-section">
            <div class="section-title">
              <span class="sub-title text-white">Aesthetic Enhancement</span>
              <h2 class="title text-white">Custom Aesthetic</h2>
              <p class="section-description text-white">Aesthetic enhancement involves personalized treatments aimed at refining and rejuvenating one's appearance, achieving a more youthful and radiant look through skincare and facial procedures.</p>
            </div>
            <div class="feature-box mb-4">
              <div class="feature-title-icon">
                <div class="feature-icon me-3">
                  <img class="img-fluid" src="{% static 'images/icon/hot-stones.png' %}" alt="Pink hot-stones icon.">
                </div>
                <h3 class="text-white">Custom Facials</h3>
              </div>
              <div class="feature-content text-white">
                <p>This is where tailored treatments meet your unique skincare needs. Enjoy personalized attention and rejuvenation for a radiant, glowing complexion.</p>
              </div>
            </div>
            <div class="feature-box mb-4">
              <div class="feature-title-icon">
                <div class="feature-icon me-3">
                  <img class="img-fluid" src="{% static 'images/icon/relaxation.png' %}" alt="relaxation">
                </div>
                <h3 class="text-white">Custom Wax</h3>
              </div>
              <div class="feature-content text-white">
                <p>Delicately tailored to your preferences, our waxing treatments ensure a silky, hair-free finish, leaving you feeling confident and refreshed.</p>
              </div>
          </div>
          
        </div>
           
      </div>
      
    </section>
    <!--=================================
    Features -->
    <!--=================================
    Menu list -->
    <section class="space-ptb position-relative pb-0" id="pricing">
      <div class="container mb-3">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <div class="section-title text-center">
              <span class="sub-title">Menu</span>
              <h2 class="title">Demzesthetics: Your Skin Dreams Start Here</h2>
              <p class="section-description">Discover our curated menu of rejuvenating treatments at Demzesthetics. From personalized facials to advanced skincare, experience holistic beauty that leaves you refreshed and radiant.<br>(Starting Prices)</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6 mt-4">
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/body-massage.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Back Facial</a>
                  <p class="pricing-text" contenteditable="true">Includes pre cleanse, exfoliating cleanse with steam, extractions, high frequency, detoxing mask. <br></br>(Upgrade to enzyme peel for an additional $35)
                  </p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$175.00</span>
                </div>
              </div>
            </div>
            
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/face-masks.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Anti-Aging Facial</a>
                  <p class="pricing-text">This anti-aging facial focuses on firming and tightening to the face. This includes a passion fruit firming enzyme followed by extractions and lymphatic massage. Exposed to red LED and radio frequency for extra tightening. Ending with a argireline contouring mask. Argireline affects the nerve to muscle communication, helps stimulate collagen production. 

                  </p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$185.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/skincare.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Dermaplane Facial</a>
                  <p>The dermaplaning facial begins with a double cleanse with steam, followed by dermaplaning and a relaxing lymphatic massage with LED lighting, concluding with a mask tailored to the client's skin type. Upgrade available to include an enzyme peel for an additional $25.</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$175.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/body-massage.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Vajacial </a>
                  <p class="pricing-text" contenteditable="true">This treatment includes an enzyme cleanse with steam, followed by extractions to remove ingrown hairs. A natural serum is applied afterward, along with high frequency treatment, concluding with a soothing hydrojelly mask. This service is most effective with minimal hair growth.
                  </p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$90.00</span>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-12 col-lg-6 mt-5 mt-lg-4">
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/skincare.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Customized Facial</a>
                  <p>Our customized facials begin with a thorough consultation to address your goals and concerns for the day. Each facial includes a pre-cleanse, exfoliation, extractions, and a tailored mask. Additionally, we offer advanced treatment upgrades such as microdermabrasion, dermaplaning, peels, and LED therapy during your session.
                  </p>
                </div>
                
                <div class="menu-border"></div>
                
                <div class="menu-price">
                  <span class="price-min">$150.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/relaxation.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Hydro Express</a>
                  <p>This treatment deeply cleanses, exfoliates, extracts, and hydrates the skin utilizing serums filled with antioxidants, peptides, and hyaluronic acid to give you immediate results.</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$180.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/medical-treatments.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Hydro Deluxe</a>
                  <p>Begins with a full face dermaplaning session. Followed by hydro dermabrasion for deep cleansing, exfoliation, extraction, and hydration using penetrating serums for immediate results. Includes extractions, a detailed relaxing lymphatic face massage, and LED light therapy.</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$225.00</span>
                </div>
              </div>
            </div>
            <div class="menu-list menu-list-default">
              <div class="menu-icon">
                <img class="img-fluid" src="{% static 'images/menu/aroma-therapy.png' %}" alt="">
              </div>
              <div class="menu-details">
                <div class="menu-title">
                  <a href="#">Brazilian/Bikini Wax<br> + Vajacial</a>
                  <p>After a full waxing session, we perform a vajacial that involves an enzyme cleanse with steam. We also perform extractions to remove ingrown hairs, followed by the application of a natural serum. The treatment concludes with a combination of high-frequency therapy and a soothing hydrojelly mask.</p>
                </div>
                <div class="menu-border"></div>
                <div class="menu-price">
                  <span class="price-min">$135.00</span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Menu list -->
   
     
    <!--=================================
    Shop Banner -->
    <section class="space-ptb" id="special-section" alt="Woman in a spa laying down with a hydro jelly substance on her face, while being masaged by a esthetician specialist.">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="shop-banner-title text-center">
              <h2 class="title mb-4 text-white">Glow Up With Us</h2>
              <h4 class="title mb-4 text-white">Embrace Self-Care with Our Luxurious Skincare Selections</h4>
              <p class="text-white">Explore our curated collection of luxurious essentials designed to elevate your daily rituals. From nourishing creams to revitalizing masks, indulge in transformative skincare for your inner glow.</p>
              <div class="mt-5">
                <a href="https://demzesthetics.myshopify.com/" target="__blank" class="btn btn-primary-white btn-primary">Shop Now<i class="fas fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Shop Banner -->
    <!--=================================
    
    <!--=================================
    Team -->
    <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="section-title text-center">
              <span class="sub-title">Team</span>
              <h2 class="title">Our Happy Team</h2>
              <p class="section-description">Meet our dedicated estheticians, committed to your satisfaction and well-being. With expertise and passion, they bring out your best glow, ensuring a positive experience at every visit.</p>
            </div>
          </div>
        </div>
        <div class="justify-content-center row">
         
          <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
            <div class="team">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'images/team/headshot.webp' %}" alt="Portrait headshot of our main team member and Founder of Demzesthetics, Demi.">
              </div>
              <div class="team-content">
                <p class="team-description">Founder / Lead Esthetician</p>
                <h5 class="team-name"><a href="{% url 'demi' %}">Demi Williams</a></h5>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </section>
    <!--=================================
    Team -->
    <!--=================================
    Testimonial -->
    <section class="bg-primary" id="reviews">
      <div class="space-ptb" id="reviewbanner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title text-center">
                <span class="sub-title text-white">What Other Say</span>
                <h2 class="title text-white">Our Customer Reviews</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1"  data-space="30" data-autoheight="true">
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content"><i>Coming to Demzesthetics truly changed my entire waxing journey. After my first wax, with another provider, I thought I would never be able to get through another appointment. Demi is the best at making sure you have the most comfortable and positive experience. Anyone that I have ever recommended to have their first wax with Demi, has never turned back. She is the GO-TO. If you're scared of the pain or just the overall process, rest assure you are in the best hands at Demzesthetics.</i></div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Diana Motta</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">Demi is such an amazing soul. I met her at the spa she used to work at and was ecstatic when she started her own business. Not only did she completely change my skin from looking like a crunch bar to absolutely no ingrowns and discoloration has gone away(I go to her for waxes, Brazilian and underarms), but we've developed a friendship. Our therapy sessions are always the highlight when I go see her. Demi's studio is a MUST if you're in the DMV area. You will never leave disappointed.</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Cydney T</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">I've been client of Demi since 2017 and let that alone speak for itself. She's truly amazing at what she does. Not only is she beyond professional with the services she offers but she always provides a pleasant experience. Top tier quality service across the board. I appreciate how knowledgeable she is in her craft & industry and always providing tips & suggestions when it comes to maintenance and the overall betterment of your beauty & health. Always 10 out of 10 and would forever highly recommend!</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Jasmine Wise</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">I had a custom facial service with Demzesthetics before my wedding and let me just say the results speak for itself. I suffer from hyperpigmentaion, however after leaving her studio, my skin was radiant and throughout the weeks leading up to my wedding, my entire face cleared. Her studio is also very spacious, clean and extremely relaxing. Demi's technique is thorough and efficient, and she genuinely care about her clients. I recommend booking any of her services as she is a true gem in Alexandria.</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Nat Scott</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">I started seeing Demi during the summer of 2021 for waxing and my very first facial. I'm always a bit nervous to see someone new for a Brazilian wax but Demi was highly recommended to me by a co-worker. As soon as I got to the studio and met her, I knew I was in good hands and got comfortable. Demi's work is amazing. She takes into account my skin's needs and provides the most relaxing experience every time - yes, even during waxing I can close my eyes and relax because she is that good!</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Shayna Krammes</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">A facial with Demi is like a mini vacation and a guaranteed nap!  I come out relaxed, refreshed and rejuvenated with great looking skin.</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Lois</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial text-center mt-0">
                    <div class="testimonial-quote-icon">
                      <img class="img-fluid" src="{% static 'images/testimonial/quote.svg' %}" alt="">
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-content">I have been getting waxed for years, and Demi is, by far, the best esthetcian I have ever been to. Her attention to detail is superb and makes you feel super comfortable. Demi's extensive knowledge in skincare has helped me maintain healthy, elastic skin. The DMV is lucky to have her!</div>
                    </div>
                    <div class="testimonial-details">
                      <div class="testimonial-name">
                        <h6 class="author-name">Katherine V</h6>
                        
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <!----line break-->
     <!-- Testimonial -->
   <!-- line break-->
      
    <!-- Back To Top-->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    
    <!-- JS Global Compulsory (Do not remove)-->
  
    
  


{% endblock %}
