{% extends 'base.html' %}
{% load static %}
  
  <body>
    
    
    
    
    {% block content %}
    <!--=================================
    banner -->
    <section class="inner-header space-ptb bg-holder bg-overlay-secondary-50" id="team-banner">
      <div class="container">
        
      </div>
    </section>
    <!--=================================
    banner -->
    <!--=================================
    Team -->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <span class="mb-4">Owner / Lead Esthetician</span>
            <div class="d-flex align-items-end">
            <h2 class="author-name mb-0 mr-2">Demi Williams</h2> </br>
      
            </div>
            <h4 id="bio_social"><a class="author-name align-self-end" href="https://www.instagram.com/demzesthetics?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="__blank"> <i class="fa-brands fa-instagram mr-5"></i>     @demzesthetics<h4></a>
          </div>
        </div>
        
        <div class="row">
          
          <div class="col-lg-6">
            <div class="team-single">
              <div class="team-single-detail">
                <div class="team-single-img">
                  <img class="img-fluid" src="{% static 'images/team/bio_demi.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6 mt-lg-0 mt-0 mt-md-5">
            
            <div class="ps-0 pt-0 ps-lg-5 pt-lg-5">
              <strong><h2>Biography</h2></strong>
                
                <h4 class="font-weight-normal mt-4 mt-md-5"> With nearly a decade in esthetics, my journey began as a regional trainer at European Wax Center, where I honed my craft and nurtured teams. Following this, I found solace in the holistic spa world of Falls Church, delving deeper into natural skincare.
                  <br></br>
                  Throughout my five years in spas, I explored various avenues, including permanent cosmetics and lash extensions. However, my true passion lies in facials and waxing, where I've been praised for my "magical touch."
                  <br></br>
                  My personal struggle with skincare during college drove me to transition from accounting to esthetics. Now, my mission is simple: to help others find beauty and confidence in their own skin.</h4>
                  
                  
                
              </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Team -->
    <!--=================================
    
    
    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    {% endblock %}
    
  </body>
</html>
