{% extends 'base.html' %}
{% load static %}
  
  <body>
    
    
    
    
    {% block content %}
    <!--=================================
    banner -->
    <section class="inner-header space-ptb bg-holder bg-overlay-secondary-50" id="team-banner">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="text-white" id="team-title">Biography</h2>
            <ul class="breadcrumb mb-0 p-0">
              <li id="returnhome"class="display-6"><a href="{% url 'index' %}"><i class="fa fa-home pe-2"></i>Return Home</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    banner -->
    <!--=================================
    Team -->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <span class="mb-4">Owner / Lead Esthetician</span>
            <h2 class="author-name mb-4 mb-md-5">Demi Williams</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="team-single">
              <div class="team-single-detail">
                <div class="team-single-img">
                  <img class="img-fluid" src="{% static 'images/team/bio_demi.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4 mt-md-5">
            <div class="ps-0 pt-0 ps-lg-5 pt-lg-5">
              <h3 class="font-weight-normal">Biography</h3>
                
                <p class="mt-4 mt-md-5"> With nearly a decade in esthetics, my journey began as a regional trainer at European Wax Center, where I honed my craft and nurtured teams. Following this, I found solace in the holistic spa world of Falls Church, delving deeper into natural skincare.
                  <br></br>
                  Throughout my five years in spas, I explored various avenues, including permanent cosmetics and lash extensions. However, my true passion lies in facials and waxing, where I've been praised for my "magical touch."
                  <br></br>
                  My personal struggle with skincare during college drove me to transition from accounting to esthetics. Now, my mission is simple: to help others find beauty and confidence in their own skin.</p>
                  
                  
                <div class="mt-4 mt-md-5">
                  <h3 class="title mb-4">Qualifications</h3>
                  <div>
                    <ul class="list">
                      <li><i class="fa fa-check"></i> State issued Esthetician License- 9 years</li>
                      <li><i class="fa fa-check"></i> Permanent Cosmetic License</li>
                      <li><i class="fa fa-check"></i> Certified in advanced skincare techniques- Hydrodermabrassion, Microdermabrasion, Chemical/Enzyme peels, Dermaplaning and Oil planning, gusha, lymphatic massage/cupping and draining techniques. </li>
                      <li><i class="fa fa-check"></i> Certified in Professional Hard wax- speed waxing, brazilian and guyzilan expertise </li>
                      <li><i class="fa fa-check"></i> Certification in make up theory and practical </li>
                      <li><i class="fa fa-check"></i> Certified in lash extensions, brow lamination/tint </li>
                      <li><i class="fa fa-check"></i> First degree Reki practitioner </li>
                      <li><i class="fa fa-check"></i> Radio Frequency </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Team -->
    <!--=================================
    
    
    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    {% endblock %}
    
  </body>
</html>
