{% extends 'base.html' %}
{% load static %}
  
  <body>
    
    
    
    
    {% block content %}
    <!--=================================
    banner -->
    <section class="inner-header space-ptb bg-holder bg-overlay-secondary-50" id="team-banner">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-md-8 text-center">
            <h1 class="text-white" id="team-title">Biography</h1>
            <ul class="breadcrumb mb-0 p-0">
              <li id="returnhome1" class="display-6"><a href="{% url 'index' %}"><i class="fa fa-home pe-2"></i>Return Home</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    banner -->
    <!--=================================
    Team -->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <span class="mb-4">Esthetician / Make-up Artist</span>
            <h2 class="author-name mb-4 mb-md-5">Yasmine El-Jlailati</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="team-single">
              <div class="team-single-detail">
                <div class="team-single-img">
                  <img class="img-fluid" src="{% static 'images/team/02.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4 mt-md-5">
            <div class="ps-0 pt-0 ps-lg-5 pt-lg-5">
              <h3 class="font-weight-normal">Biography</h3>
                
                <p class="mt-4 mt-md-5"> Embarking on the path to becoming an esthetician, I've cultivated a passion for skincare and beauty. My journey started with formal education in cosmetics and esthetics, where I honed my skills in various skincare treatments and techniques. Dedicated to staying current with industry trends, I attended workshops and sought hands-on experience to refine my craft. Building a foundation of knowledge in skin and product ingredients, I aim to provide personalized skincare solutions. Committed to creating a positive client experience, I blend creativity with technical expertise in pursuit of a fulfilling career as an esthetician.</p>
                  
                  
                <div class="mt-4 mt-md-5">
                  <h3 class="title mb-4">Qualifications</h3>
                  <div>
                    <ul class="list">
                      <li><i class="fa fa-check"></i> Certification in Makeup Artistry - Training in Bridal Makeup - Specialized Courses in Special Effects or Theatrical Makeup </li>
                      <li><i class="fa fa-check"></i> State-issued Esthetician License- 1 - 1/2 years </li>
                      <li><i class="fa fa-check"></i> Certification in Advanced Skincare Techniques - Training in Chemical Peels, Microdermabrasion, and dermaplanning </li>
                      <li><i class="fa fa-check"></i> Certification in Professional Waxing - Expertise in Brazilian Waxing Techniques - Training in Speed Waxing </li>
                      <li><i class="fa fa-check"></i> Certification in Lash Extensions </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Team -->
    <!--=================================
    
    
    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!--=================================
    Back To Top-->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    {% endblock %}
    
  </body>
</html>
